fastapi==0.89.1
requests==2.28.2
envparse==0.2.0
motor==3.0.0
uvicorn==0.18.3
mongoengine==0.26.0
bcrypt==4.0.1
loguru==0.6.0
wheel==0.38.4
sympy==1.11.1
python-jose==3.3.0
rsa==4.9
ecdsa==0.18.0
pyasn1==0.4.8
passlib==1.7.4
python-multipart==0.0.6
email-validator==2.0.0.post2
aiofiles==23.1.0